In [1]:
import warnings

import orca
import pandas as pd

In [4]:
import pandas as pd
buildings =pd.read_hdf('.\data\sanfran_public.h5','buildings')   #读取h5文件中的buildings表格
print(buildings)  
buildings.to_csv('buildings.csv',encoding='gb18030')
print(len(buildings))
print(buildings['parcel_id'].value_counts())

             parcel_id  residential_units  non_residential_sqft  \
building_id
66515            69377                3.0                   0.0
123898          131763                2.0                   0.0
44682            46013                1.0                   0.0
62974            65342                3.0                   0.0
55586            57438                1.0                   0.0
...                ...                ...                   ...
8459              8835                3.0                   0.0
16004            16543                1.0                   0.0
127877          135882                2.0                   0.0
27948            28798                1.0                   0.0
91541            97907                1.0                   0.0

             building_sqft  stories  building_type_id  year_built  \
building_id
66515               4755.0      3.0               3.0      1900.0
123898              3770.0      2.0               3.0      1923.0
44682               2275.0      1.0               2.0      1931.0
62974               4032.0      3.0               3.0      1910.0
55586               1225.0      1.0               2.0      1927.0
...                    ...      ...               ...         ...
8459                3990.0      2.0               3.0      1968.0
16004               1351.0      1.0               2.0      1954.0
127877              3220.0      2.0               3.0      1923.0
27948               1325.0      1.0               2.0      1927.0
91541               1475.0      2.0               2.0      1905.0

             residential_sales_price  non_residential_rent
building_id
66515                     568.475987                   NaN
123898                    334.338944                   NaN
44682                     425.759660                   NaN
62974                     595.244178                   NaN
55586                     550.923428                   NaN
...                              ...                   ...
8459                      498.417839                   NaN
16004                     538.600222                   NaN
127877                    356.454451                   NaN
27948                     531.980111                   NaN
91541                     530.731673                   NaN

[152605 rows x 9 columns]
152605
147934    3
68444     2
86761     2
130581    2
139942    2
         ..
125206    1
123159    1
104728    1
102681    1
2047      1
Name: parcel_id, Length: 149792, dtype: int64

In [3]:
households =pd.read_hdf('.\data\sanfran_public.h5','households')   #读取h5文件中的buildings表格
print(households)  
households.to_csv('households.csv',encoding='gb18030')

              building_id  building_type_id  income  persons  tenure
household_id
1                  136325                 1   27310        1       2
4                  133982                 2   25000        1       2
5                   25633                 1    3100        1       1
6                  132596                 2    7200        1       1
7                   57108                 1   27310        1       2
...                   ...               ...     ...      ...     ...
2630612             74346                 3     690        1       1
2630613             78154                 3   24650        1       1
2630614            130536                 3   58000        1       1
2630615            137578                 3   15400        1       1
2630617            129988                 2   22000        1       1

[345588 rows x 5 columns]

In [4]:
jobs=pd.read_hdf('.\data\sanfran_public.h5','jobs')   #读取h5文件中的buildings表格
print(jobs)  
jobs.to_csv('jobs.csv',encoding='gb18030')

         building_id job_category
3389004      1845867      service
3813527      1854491      service
3530098      1849820      service
3417867      1854265      service
3585435      1854265      service
...              ...          ...
3951153       128143      service
3670062       128149      service
3484003        75368      service
3831323       134808      service
3498335      1854491      service

[225439 rows x 2 columns]

In [5]:
parcels=pd.read_hdf('.\data\sanfran_public.h5','parcels')   
print(parcels)  
parcels.to_csv('parcels.csv',encoding='gb18030')

            shape_area  county_id  zone_id            x           y  \
parcel_id
1           281.611633       38.0     91.0  548474.1250  4179481.50
2           247.652740       38.0     91.0  548618.2500  4179506.25
3           291.017151       38.0     91.0  548722.3750  4179475.75
4           233.682632       38.0     91.0  548675.5000  4179456.75
5           233.684555       38.0     91.0  548670.3750  4179487.00
...                ...        ...      ...          ...         ...
154502      418.868713       38.0    149.0  552457.8750  4173622.00
154518      193.428223       38.0    154.0  552262.9375  4173615.00
154533     1624.578125       38.0    149.0  552646.6250  4173621.00
154614      666.512512       38.0    149.0  552895.0625  4173627.00
154629      193.427216       38.0    154.0  552260.4375  4173607.75

           _node_id0  _node_id
parcel_id
1             119221    128904
2             115538    125155
3             116905    126552
4             115539    125156
5             115538    125155
...              ...       ...
154502        114696    124306
154518        116289    125923
154533        114695    124305
154614        117429    127082
154629        116289    125923

[153341 rows x 7 columns]

In [6]:
zones=pd.read_hdf('.\data\sanfran_public.h5','zones')   
print(zones)  
zones.to_csv('zones.csv',encoding='gb18030')

          gid     tract          area         acres
zone_id
1442      525  126100.0  5.272042e+06    121.028999
1434      508  114100.0  7.820342e+06    179.529999
246       784  605000.0  4.247868e+06     97.517998
1312      560  201800.0  7.597325e+08  17441.058594
705      1205  512507.0  2.783539e+07    639.013000
...       ...       ...           ...           ...
769      1446       NaN  2.359150e+07    541.585999
874      1447       NaN  9.820885e+06    225.455994
1146     1452       NaN  1.179568e+06     27.079000
1201     1453       NaN  2.534543e+06     58.185001
1202     1454       NaN  7.839106e+05     17.996000

[1454 rows x 4 columns]

In [7]:
zoning=pd.read_hdf('.\data\sanfran_public.h5','zoning')   
print(zoning)  
zoning.to_csv('zoning.csv',encoding='gb18030')

                                                     name  max_height  city  \
id
20223      SEE MISSION BAY SOUTH REDEVELOPMENT PLAN-MB-RA         0.0   101
2       MODERATE SCALE NEIGHBORHOOD COMMERCIAL TRANSIT...         0.0   101
3       MODERATE SCALE NEIGHBORHOOD COMMERCIAL TRANSIT...        85.0   101
4       MODERATE SCALE NEIGHBORHOOD COMMERCIAL TRANSIT...        68.0   101
1                                                 PUBLIC-         0.0   101
...                                                   ...         ...   ...
182417                              LIGHT INDUSTRIAL-40-X        40.0   101
182418  RESIDENTIAL- COMMERCIAL, MEDIUM DENSITY-65/240-EP       240.0   101
182419                              HEAVY INDUSTRIAL-40-X        40.0   101
183817               CHINATOWN-COMMUNITY BUSINESS-65-85-N        65.0   101
183818                              HEAVY COMMERCIAL-85-X        85.0   101

        max_far  coverage type1 type2 type3 type4 type5 type6 type7 type8  \
id
20223       NaN       NaN     f     f     f     f     f     f     f     f
2           0.0       NaN     f     f     f     f     f     f     f     f
3           3.6       NaN     f     f     f     f     f     f     f     f
4           3.6       NaN     f     f     f     f     f     f     f     f
1           0.0       NaN     f     f     f     f     f     f     f     f
...         ...       ...   ...   ...   ...   ...   ...   ...   ...   ...
182417      5.0       NaN     f     t     t     t     f     t     t     t
182418      3.6       NaN     f     t     t     f     t     t     f     f
182419      5.0       NaN     f     t     t     t     f     f     t     t
183817      2.8       NaN     f     f     f     f     f     f     f     f
183818      9.0       NaN     f     f     f     f     f     f     f     f

       type9 type10 type11 type12 type13 type14
id
20223      f      f      f      f      f      f
2          f      f      f      f      f      f
3          f      f      f      f      f      f
4          f      f      f      f      f      f
1          f      f      f      f      f      f
...      ...    ...    ...    ...    ...    ...
182417     f      f      f      t      f      f
182418     f      f      f      t      t      f
182419     t      f      f      t      f      f
183817     f      f      f      f      f      f
183818     f      f      f      f      f      f

[6962 rows x 19 columns]

In [8]:
zoning_for_parcels=pd.read_hdf('.\data\sanfran_public.h5','zoning_for_parcels')   
print(zoning_for_parcels)  
zoning_for_parcels.to_csv('zoning_for_parcels.csv',encoding='gb18030')

        zoning
parcel
4324     20495
824      20505
233      20521
4226     20521
4356     20521
...        ...
51745    20341
51106    20502
48605    20499
51114    20495
51121    20495

[148318 rows x 1 columns]

groupby到底怎么用

In [30]:
import numpy as np
df  = pd.DataFrame({
    'key' : ['a','b','c']*4,
    'value' : np.arange(12,)})
print(df)

   key  value
0    a      0
1    b      1
2    c      2
3    a      3
4    b      4
5    c      5
6    a      6
7    b      7
8    c      8
9    a      9
10   b     10
11   c     11

In [35]:
#按key分组的均值是多少
g  = df.groupby('key').value
print(g.mean())  #mean()用于计算均值

key
a    4.5
b    5.5
c    6.5
Name: value, dtype: float64

In [47]:

g = buildings.groupby('building_type_id').building_sqft
print(g.mean())

building_type_id
1.0      14498.300781
2.0       1728.302490
3.0       5433.549805
4.0      47353.617188
5.0      50594.062500
6.0      57326.500000
7.0      15425.266602
8.0      22605.402344
9.0     100297.632812
10.0      9282.353516
11.0    121794.664062
12.0      6902.572754
13.0     10441.642578
14.0     20123.802734
Name: building_sqft, dtype: float32

In [69]:
from urbansim.utils import misc
print(parcels.zone_id)
@orca.column('buildings', 'zone_id', cache=True)
def zone_id(buildings, parcels):
    return misc.reindex(parcels.zone_id, buildings.parcel_id)  #将parcel表的zone_id,通过外键parcel_id,使用reindex，将zones_id添加到buildings表中
print(zone_id(buildings,parcels))

"""
下面这个表中的第二列，就是zone_id，是和building_id 一一对应的，然后再加入到buildings表中
"""

parcel_id
1          91.0
2          91.0
3          91.0
4          91.0
5          91.0
          ...
154502    149.0
154518    154.0
154533    149.0
154614    149.0
154629    154.0
Name: zone_id, Length: 153341, dtype: float32
building_id
66515     103.0
123898     60.0
44682     134.0
62974      82.0
55586     168.0
          ...
8459      174.0
16004     174.0
127877     63.0
27948     186.0
91541     136.0
Name: right, Length: 152605, dtype: float32

'\n下面这个表中的第二列，就是zone_id，是和building_id 一一对应的，然后再加入到buildings表中\n'