In [2]:
import pandas as pd 
import numpy as np

#导入数据
df =pd.read_csv('./csv_data/households.csv')

#按区间切分进行分组
listBins = [0, 30000, 60000, 100000, 10000000]

#设置切分后对应的标签
listLabels= [1,2,3,4]

#利用pd.cut进行数据离散化切分
df['fenzu'] = pd.cut(df['income'],bins = listBins,labels = listLabels ,include_lowest=True)
df.to_csv('./household_transition_fenzu.csv')
df.head()

   household_id  building_id  building_type_id  income  persons  tenure fenzu
0             1       136325                 1   27310        1       2     1
1             4       133982                 2   25000        1       2     1
2             5        25633                 1    3100        1       1     1
3             6       132596                 2    7200        1       1     1
4             7        57108                 1   27310        1       2     1