##### 它使用空白符号缩进和大量依赖外观的特色，特别适合用来表达或编辑数据结构、各种配置文件、倾印调试内容、文件大纲
我们用yaml做配置文件

In [3]:
import yaml #导入yaml包之后，就可以加载yaml文件并解析它
import os

In [4]:
#打开yaml文件，并获取yaml文件数据
file = open('./configs/hlcm.yaml', 'r',encoding="utf-8")
file_data =  file.read()

In [5]:
#查看file_data的类型
type(file_data)

str

In [6]:
#将字符串转换为字典或列表
data = yaml.safe_load(file_data)

##### 简单的一行，读取yaml文件，获取数据，并转换成字典

In [7]:
#简单的一行
data = yaml.safe_load(open('./configs/hlcm.yaml','r',encoding="utf-8"))
data

{'name': 'Household Location Choice Model',
 'model_type': 'segmented_discretechoice',
 'segmentation_col': 'income_quartile',
 'choosers_fit_filters': None,
 'choosers_predict_filters': None,
 'alts_fit_filters': ["general_type == 'Residential'"],
 'alts_predict_filters': ["general_type == 'Residential'"],
 'interaction_predict_filters': None,
 'choice_column': None,
 'sample_size': 100,
 'estimation_sample_size': 3000,
 'prediction_sample_size': None,
 'default_config': {'model_expression': 'np.log1p(residential_sales_price) + np.log1p(unit_sqft) + sum_residential_units + ave_unit_sqft + ave_lot_sqft + ave_income + hhsize + jobs + sfdu + renters + poor + population - 1'},
 'models': {0: {'fit_parameters': {'Coefficient': {'ave_income': -1.6387580142238778,
     'ave_lot_sqft': 0.058036758202680186,
     'ave_unit_sqft': -0.4108375616711735,
     'hhsize': -0.7344716467731971,
     'jobs': 0.0579594008099341,
     'np.log1p(residential_sales_price)': 0.985838370435962,
     'np.log1p(unit_sqft)': 1.434464487861211,
     'poor': 1.3617346067012341,
     'population': -0.6990478915012853,
     'renters': -0.452284902001466,
     'sfdu': -0.03161298845328366,
     'sum_residential_units': -0.09123378672310643},
    'Std. Error': {'ave_income': 0.10608510271679196,
     'ave_lot_sqft': 0.038386969602402184,
     'ave_unit_sqft': 0.10898575259985335,
     'hhsize': 0.14707565921749433,
     'jobs': 0.03140497684222119,
     'np.log1p(residential_sales_price)': 0.06085600538254531,
     'np.log1p(unit_sqft)': 0.11373717305356704,
     'poor': 0.089625574892765,
     'population': 0.13413452427617872,
     'renters': 0.03860275041670789,
     'sfdu': 0.01918869229514345,
     'sum_residential_units': 0.10758251902992703},
    'T-Score': {'ave_income': -15.447579087506343,
     'ave_lot_sqft': 1.5118869450702448,
     'ave_unit_sqft': -3.7696446725434307,
     'hhsize': -4.993835490392508,
     'jobs': 1.845548274119816,
     'np.log1p(residential_sales_price)': 16.19952483306963,
     'np.log1p(unit_sqft)': 12.612099011689153,
     'poor': 15.193594108941774,
     'population': -5.211543376125657,
     'renters': -11.71639059702103,
     'sfdu': -1.6474800870763209,
     'sum_residential_units': -0.8480354201199476}},
   'fitted': True,
   'log_likelihoods': {'convergence': -11271.077351655096,
    'null': -13815.51055796495,
    'ratio': 0.18417221684528562},
   'name': 0},
  1: {'fit_parameters': {'Coefficient': {'ave_income': -1.6821020990278517,
     'ave_lot_sqft': 0.06982598545110776,
     'ave_unit_sqft': -1.3236615004228631,
     'hhsize': -0.15351299797841925,
     'jobs': 0.13638983496456455,
     'np.log1p(residential_sales_price)': 1.3483822398410124,
     'np.log1p(unit_sqft)': 2.0426574670810553,
     'poor': 0.6745725631247967,
     'population': 0.07458183296247672,
     'renters': -0.4590515779557558,
     'sfdu': -0.06741332155359417,
     'sum_residential_units': -0.2245928056279608},
    'Std. Error': {'ave_income': 0.1031706363478618,
     'ave_lot_sqft': 0.03991547678229064,
     'ave_unit_sqft': 0.11921234853797026,
     'hhsize': 0.14323555058133278,
     'jobs': 0.031537410294476736,
     'np.log1p(residential_sales_price)': 0.05178978310084811,
     'np.log1p(unit_sqft)': 0.09531580913376723,
     'poor': 0.08981336852199426,
     'population': 0.13850883493144,
     'renters': 0.042618509547396946,
     'sfdu': 0.019153433701706128,
     'sum_residential_units': 0.10819377176401763},
    'T-Score': {'ave_income': -16.304077968040108,
     'ave_lot_sqft': 1.7493461454051216,
     'ave_unit_sqft': -11.103392531531785,
     'hhsize': -1.0717520710143162,
     'jobs': 4.324699894222165,
     'np.log1p(residential_sales_price)': 26.03568038150234,
     'np.log1p(unit_sqft)': 21.43041627243984,
     'poor': 7.510825773777784,
     'population': 0.5384626403030083,
     'renters': -10.771178598942669,
     'sfdu': -3.5196467956337876,
     'sum_residential_units': -2.075838580780991}},
   'fitted': True,
   'log_likelihoods': {'convergence': -12468.172361759463,
    'null': -13815.51055796495,
    'ratio': 0.09752359064491578},
   'name': 1},
  2: {'fit_parameters': {'Coefficient': {'ave_income': -1.5419608627695554,
     'ave_lot_sqft': 0.11808108841681049,
     'ave_unit_sqft': -1.4858548913184129,
     'hhsize': -0.3207342798218094,
     'jobs': -0.008775376645483253,
     'np.log1p(residential_sales_price)': 1.4531776229516902,
     'np.log1p(unit_sqft)': 2.1889358701846375,
     'poor': 0.2916790538838418,
     'population': 0.2901319245860481,
     'renters': -0.3893368877232734,
     'sfdu': -0.01701063465236964,
     'sum_residential_units': 0.0004646530679511582},
    'Std. Error': {'ave_income': 0.09305065403861768,
     'ave_lot_sqft': 0.04343498462864532,
     'ave_unit_sqft': 0.10979188281808518,
     'hhsize': 0.14357109797853349,
     'jobs': 0.03195411074229909,
     'np.log1p(residential_sales_price)': 0.037734733877485285,
     'np.log1p(unit_sqft)': 0.06603734001097568,
     'poor': 0.09033709165731837,
     'population': 0.15123111126188213,
     'renters': 0.047976897489643844,
     'sfdu': 0.019018219743415513,
     'sum_residential_units': 0.11393878288445683},
    'T-Score': {'ave_income': -16.57119854450044,
     'ave_lot_sqft': 2.7185709728313374,
     'ave_unit_sqft': -13.53337654096282,
     'hhsize': -2.23397525224586,
     'jobs': -0.274624342271772,
     'np.log1p(residential_sales_price)': 38.51034507543565,
     'np.log1p(unit_sqft)': 33.146941863812614,
     'poor': 3.2287850818829447,
     'population': 1.9184671868451446,
     'renters': -8.115090972844056,
     'sfdu': -0.8944388529456897,
     'sum_residential_units': 0.004078094009678461}},
   'fitted': True,
   'log_likelihoods': {'convergence': -12870.333320821343,
    'null': -13815.51055796495,
    'ratio': 0.06841420975200163},
   'name': 2},
  3: {'fit_parameters': {'Coefficient': {'ave_income': -0.6718658438924313,
     'ave_lot_sqft': 0.023958920143148345,
     'ave_unit_sqft': -1.0806167582057413,
     'hhsize': -0.5593811098980866,
     'jobs': 0.07047208209303023,
     'np.log1p(residential_sales_price)': 1.415916909525878,
     'np.log1p(unit_sqft)': 2.132748807494027,
     'poor': 0.35052928711383574,
     'population': 0.3719904218278727,
     'renters': -0.32529353485772744,
     'sfdu': -0.008088386919327891,
     'sum_residential_units': -0.2926063588470592},
    'Std. Error': {'ave_income': 0.09834701553382792,
     'ave_lot_sqft': 0.0501780875975394,
     'ave_unit_sqft': 0.1233983046659184,
     'hhsize': 0.14594138956833058,
     'jobs': 0.031132086768880806,
     'np.log1p(residential_sales_price)': 0.03858561576152045,
     'np.log1p(unit_sqft)': 0.06801690333759094,
     'poor': 0.10246038009867281,
     'population': 0.18677260974636734,
     'renters': 0.06735803955056653,
     'sfdu': 0.019859738142830673,
     'sum_residential_units': 0.11901819954911037},
    'T-Score': {'ave_income': -6.831583452182471,
     'ave_lot_sqft': 0.47747774557122075,
     'ave_unit_sqft': -8.757144282746363,
     'hhsize': -3.832916155948901,
     'jobs': 2.263647876102964,
     'np.log1p(residential_sales_price)': 36.695459734969496,
     'np.log1p(unit_sqft)': 31.356158584704627,
     'poor': 3.4211203079303845,
     'population': 1.9916754514113533,
     'renters': -4.829320108307568,
     'sfdu': -0.4072756076216334,
     'sum_residential_units': -2.4585009683861108}},
   'fitted': True,
   'log_likelihoods': {'convergence': -13067.133614649012,
    'null': -13806.300217592972,
    'ratio': 0.053538355047651476},
   'name': 3}},
 'fitted': True,
 'probability_mode': 'single_chooser',
 'choice_mode': 'aggregate',
 'remove_alts': True}

In [8]:
#获取data里面的数据
data['alts_fit_filters']

["general_type == 'Residential'"]

In [9]:
data['default_config']  #字典

{'model_expression': 'np.log1p(residential_sales_price) + np.log1p(unit_sqft) + sum_residential_units + ave_unit_sqft + ave_lot_sqft + ave_income + hhsize + jobs + sfdu + renters + poor + population - 1'}

In [10]:
data['model_type']

'segmented_discretechoice'

In [11]:
from urbansim.models import RegressionModel, SegmentedRegressionModel, \
    MNLDiscreteChoiceModel, SegmentedMNLDiscreteChoiceModel, \
    GrowthRateTransition
def yaml_to_class(cfg):
    import yaml
    model_type = yaml.safe_load(open(cfg))["model_type"]
    return {
        "regression": RegressionModel,
        "segmented_regression": SegmentedRegressionModel,
        "discretechoice": MNLDiscreteChoiceModel,
        "segmented_discretechoice": SegmentedMNLDiscreteChoiceModel
    }[model_type]
yaml_to_class('./configs/hlcm.yaml')

urbansim.models.dcm.SegmentedMNLDiscreteChoiceModel

In [12]:
cfg = './configs/hlcm.yaml'

In [13]:
yaml_to_class(cfg).from_yaml(str_or_buffer = cfg)
#这个from_yaml 是urbansim.models.dcm.SegmentedMNLDiscreteChoiceModel的from_yaml()函数

##### from_yaml()从保存的yaml配置创建分段MNLCM 模型实例，参数是互斥的

In [14]:
cfg = './configs/hlcm.yaml'
yaml_to_class(cfg).from_yaml(str_or_buffer = cfg).columns_used()

['general_type',
 'residential_sales_price',
 'unit_sqft',
 'sum_residential_units',
 'ave_unit_sqft',
 'ave_lot_sqft',
 'ave_income',
 'hhsize',
 'jobs',
 'sfdu',
 'renters',
 'poor',
 'population',
 'income_quartile']

#### column_list()

In [15]:
import numpy as np
import pandas as pd
import toolz as tz
def column_list(tables, columns):
    """
    Take a list of tables and a list of column names and return the columns
    that are present in the tables.
    获取表列表和列名列表，并返回表中存在的列。
    Parameters
    ----------
    tables : sequence of _DataFrameWrapper or _TableFuncWrapper
        Could also be sequence of modified pandas.DataFrames, the important
        thing is that they have ``.name`` and ``.columns`` attributes.
    columns : sequence of str
        The column names of interest.
        感兴趣的列名
    Returns
    -------
    cols : list
        Lists of column names available in the tables.
        表中可用的列名
    """
    columns = set(columns)
    foundcols = tz.reduce(lambda x, y: x.union(y), (set(t.columns) for t in tables))
    return list(columns.intersection(foundcols))

df_households = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\households_包含需要进行区位选择的家庭.csv')

cfg_columns =  ['general_type',
     'residential_sales_price',
     'unit_sqft',
     'sum_residential_units',
     'ave_unit_sqft',
     'ave_lot_sqft',
     'ave_income',
     'hhsize',
     'jobs',
     'sfdu',
     'renters',
     'poor',
     'population',
     'income_quartile']
print(df_households.columns)
column_list([df_households], cfg_columns) #处于df_households，又处于cfg中的

Index(['household_id', 'building_id', 'building_type_id', 'income', 'persons',
       'tenure', 'income_quartile', 'zone_id'],
      dtype='object')

['income_quartile']

In [16]:
tables = [df_households]
cfg_columns_used =  ['general_type',
     'residential_sales_price',
     'unit_sqft',
     'sum_residential_units',
     'ave_unit_sqft',
     'ave_lot_sqft',
     'ave_income',
     'hhsize',
     'jobs',
     'sfdu',
     'renters',
     'poor',
     'population',
     'income_quartile']
additional_columns = ["building_id"]
columns = column_list(tables, cfg_columns)+additional_columns
columns  #这个就是我们需要的列名（to_frame ）

['income_quartile', 'building_id']

In [17]:
import orca
tables
orca.add_table('households', df_households)

In [18]:
tables = [orca.get_table('households')]
tables  = [t for t in tables if t is not None]
len(tables)

1

In [19]:
tables[0].to_frame()  #这个就是 家庭表，households

,household_id,building_id,building_type_id,income,persons,tenure,income_quartile,zone_id
0,1,136325,1,27310,1,2,0,38.0
1,4,133982,2,25000,1,2,0,44.0
2,5,25633,1,3100,1,1,0,170.0
3,6,132596,2,7200,1,1,0,45.0
4,7,57108,1,27310,1,2,0,164.0
...,...,...,...,...,...,...,...,...
345583,2630612,74346,3,690,1,1,0,148.0
345584,2630613,78154,3,24650,1,1,0,141.0
345585,2630614,-1,3,58000,1,1,1,NaN
345586,2630615,137578,3,15400,1,1,0,22.0
345587,2630617,129988,2,22000,1,1,0,11.0

In [20]:
columns = ['income_quartile', 'building_id']
df = tables[0].to_frame(columns)
df.to_csv('./chooser_df.csv')

In [21]:
df

        building_id  income_quartile
0            136325                0
1            133982                0
2             25633                0
3            132596                0
4             57108                0
...             ...              ...
345583        74346                0
345584        78154                0
345585           -1                1
345586       137578                0
345587       129988                0

[345588 rows x 2 columns]

#### 下面来找一下location_df 表
urbansim 制作的方式如下，一行一行看<br>
locations_df = to_frame([buildings, nodes], cfg,[supply_fname, vacant_fname])

In [22]:
buildings = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\区位选择的基础建筑物表.csv',index_col=0)
nodes = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\区位选择的基础表zones.csv',index_col=0)
households = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\households_包含需要进行区位选择的家庭.csv',index_col=0)
choosers_df  = pd.read_csv('./chooser_df.csv',index_col=0)
print(nodes.columns)
nodes.columns=['gid', 'tract', 'area', 'acres', 'sum_residential_units',
       'sum_job_spaces', 'population', 'jobs', 'ave_lot_sqft', 'ave_income',
       'hhsize', 'ave_unit_sqft', 'sfdu', 'poor', 'renters', 'zone_id']
# print(nodes.columns)
print(nodes.columns)

Index(['gid', 'tract', 'area', 'acres', 'sum_residential_units',
       'sum_job_spaces', 'population', 'jobs', 'ave_lot_sqft', 'ave_income',
       'hhsize', 'ave_unit_sqft', 'sfdu', 'poor', 'renters', 'zone_id.1'],
      dtype='object')
Index(['gid', 'tract', 'area', 'acres', 'sum_residential_units',
       'sum_job_spaces', 'population', 'jobs', 'ave_lot_sqft', 'ave_income',
       'hhsize', 'ave_unit_sqft', 'sfdu', 'poor', 'renters', 'zone_id'],
      dtype='object')

In [23]:
orca.add_table('buildings',buildings)
orca.add_table('zones',nodes)
orca.add_table('households',households)
orca.add_table('choosers_df',choosers_df)  
# 既然打不败orca,那么就开始使用orca
# 打不败yaml，就用yaml，不要想着脱离yaml，和orca，除非后期有专业的计算机人才指导

In [24]:
import orca
# cfg = misc.config("hlcm.yaml")
choosers = orca.get_table('households')
nodes = orca.get_table('zones')
buildings = orca.get_table('buildings')
# choosers_df = orca.get_table('choosers_df')

In [25]:
nodes.to_frame()

,gid,tract,area,acres,sum_residential_units,sum_job_spaces,population,jobs,ave_lot_sqft,ave_income,hhsize,ave_unit_sqft,sfdu,poor,renters,zone_id
zone_id,,,,,,,,,,,,,,,,
1442,525,126100.0,5272042.0,121.029,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1442
1434,508,114100.0,7820341.5,179.530,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1434
246,784,605000.0,4247867.5,97.518,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,246
1312,560,201800.0,759732500.0,17441.059,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1312
705,1205,512507.0,27835386.0,639.013,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,705
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
769,1446,NaN,23591500.0,541.586,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,769
874,1447,NaN,9820885.0,225.456,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,874
1146,1452,NaN,1179567.5,27.079,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1146
1201,1453,NaN,2534543.2,58.185,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1201
1202,1454,NaN,783910.6,17.996,NaN,NaN,0.0,NaN,7.723413,11.060384,1.098612,7.103939,0.0,0.0,0.0,1202

In [26]:
[buildings, nodes]
nodes.columns

['gid',
 'tract',
 'area',
 'acres',
 'sum_residential_units',
 'sum_job_spaces',
 'population',
 'jobs',
 'ave_lot_sqft',
 'ave_income',
 'hhsize',
 'ave_unit_sqft',
 'sfdu',
 'poor',
 'renters',
 'zone_id']

##### cfg
cfg = misc.config('./yaml_syy_test.yaml')