## 1.了解yaml

##### 它使用空白符号缩进和大量依赖外观的特色，特别适合用来表达或编辑数据结构、各种配置文件、倾印调试内容、文件大纲
我们用yaml做配置文件

In [4]:
import yaml #导入yaml包之后，就可以加载yaml文件并解析它
import os

In [5]:
#读取yaml文件，获取数据，并转换成字典
data = yaml.load(open('./hlcm.yaml','r',encoding="utf-8"))
data

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:2: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

{'name': 'Household Location Choice Model',
 'model_type': 'segmented_discretechoice',
 'segmentation_col': 'income_quartile',
 'choosers_fit_filters': None,
 'choosers_predict_filters': None,
 'alts_fit_filters': ["general_type == 'Residential'"],
 'alts_predict_filters': ["general_type == 'Residential'"],
 'interaction_predict_filters': None,
 'choice_column': None,
 'sample_size': 100,
 'estimation_sample_size': 3000,
 'prediction_sample_size': None,
 'default_config': {'model_expression': 'np.log1p(residential_sales_price) + np.log1p(unit_sqft) + sum_residential_units + ave_unit_sqft + ave_lot_sqft + ave_income + hhsize + jobs + sfdu + renters + poor + population - 1'},
 'models': {0: {'fit_parameters': {'Coefficient': {'ave_income': -0.1803739241436568,
     'ave_lot_sqft': -0.14524735635397554,
     'ave_unit_sqft': 0.5248733590599849,
     'hhsize': -0.7902166295229691,
     'jobs': 0.048439041766531486,
     'np.log1p(residential_sales_price)': -0.03454228784548852,
     'np.log1p(unit_sqft)': -0.40756778180221936,
     'poor': 1.0838030640269003,
     'population': -0.46847012592336074,
     'renters': -0.5818956931260558,
     'sfdu': 0.00230009430171635,
     'sum_residential_units': 0.21671530494163677},
    'Std. Error': {'ave_income': 0.07531381518873051,
     'ave_lot_sqft': 0.03784535172368536,
     'ave_unit_sqft': 0.09989305510005676,
     'hhsize': 0.14522972901947453,
     'jobs': 0.03199396619198153,
     'np.log1p(residential_sales_price)': 0.01758639551030232,
     'np.log1p(unit_sqft)': 0.02418542446064835,
     'poor': 0.08855868908503683,
     'population': 0.13424113186951048,
     'renters': 0.03896063619846275,
     'sfdu': 0.018990132841754458,
     'sum_residential_units': 0.1100368055967709},
    'T-Score': {'ave_income': -2.394964638182967,
     'ave_lot_sqft': -3.8379179935873884,
     'ave_unit_sqft': 5.254352853001156,
     'hhsize': -5.441149238920671,
     'jobs': 1.5140055307888491,
     'np.log1p(residential_sales_price)': -1.9641482431833877,
     'np.log1p(unit_sqft)': -16.851793627412462,
     'poor': 12.238246469369015,
     'population': -3.48976591152955,
     'renters': -14.935477186817995,
     'sfdu': 0.1211204956217594,
     'sum_residential_units': 1.969480154992762}},
   'fitted': True,
   'log_likelihoods': {'convergence': -11272.980350784424,
    'null': -13815.51055796495,
    'ratio': 0.18403447317513},
   'name': 0},
  1: {'fit_parameters': {'Coefficient': {'ave_income': 0.9760441974849504,
     'ave_lot_sqft': -0.22171233920539116,
     'ave_unit_sqft': 0.18880301896809948,
     'hhsize': -0.2966366282005702,
     'jobs': 0.024523346822834323,
     'np.log1p(residential_sales_price)': -0.06538198062922415,
     'np.log1p(unit_sqft)': -0.5407372320778584,
     'poor': 0.7113257057322456,
     'population': 0.25538660009868125,
     'renters': -0.768861215511388,
     'sfdu': -0.0510075710848377,
     'sum_residential_units': 0.10105104702225415},
    'Std. Error': {'ave_income': 0.08817976154101738,
     'ave_lot_sqft': 0.04108488726886964,
     'ave_unit_sqft': 0.12329615915579008,
     'hhsize': 0.14244159243511012,
     'jobs': 0.03235006385684887,
     'np.log1p(residential_sales_price)': 0.020297629347154053,
     'np.log1p(unit_sqft)': 0.025808314818028158,
     'poor': 0.08997651402601049,
     'population': 0.1484695927073636,
     'renters': 0.043924738110232425,
     'sfdu': 0.019131018755463417,
     'sum_residential_units': 0.11289318359429772},
    'T-Score': {'ave_income': 11.068800600361538,
     'ave_lot_sqft': -5.396445115072384,
     'ave_unit_sqft': 1.5312968405572036,
     'hhsize': -2.0825141247680468,
     'jobs': 0.7580617748191077,
     'np.log1p(residential_sales_price)': -3.221163393566028,
     'np.log1p(unit_sqft)': -20.95205502143563,
     'poor': 7.905681981929361,
     'population': 1.720127303117569,
     'renters': -17.504059183730888,
     'sfdu': -2.6662234634144095,
     'sum_residential_units': 0.8951031745672046}},
   'fitted': True,
   'log_likelihoods': {'convergence': -12676.200689325591,
    'null': -13815.51055796495,
    'ratio': 0.08246599818799472},
   'name': 1},
  2: {'fit_parameters': {'Coefficient': {'ave_income': 0.7464369261158218,
     'ave_lot_sqft': -0.31582475788219655,
     'ave_unit_sqft': 0.08038480359637157,
     'hhsize': -0.4942573388300946,
     'jobs': 0.13424127354199916,
     'np.log1p(residential_sales_price)': -0.08117221489922694,
     'np.log1p(unit_sqft)': -0.6268758724593103,
     'poor': 0.1387485664472487,
     'population': 0.44904171971604345,
     'renters': -0.41796688237532864,
     'sfdu': -0.024905628358013472,
     'sum_residential_units': 0.01916476461846031},
    'Std. Error': {'ave_income': 0.08854531474584838,
     'ave_lot_sqft': 0.04682490261131455,
     'ave_unit_sqft': 0.12274462879902195,
     'hhsize': 0.14203319732685207,
     'jobs': 0.03202905519882452,
     'np.log1p(residential_sales_price)': 0.021387809608176354,
     'np.log1p(unit_sqft)': 0.025567375709626725,
     'poor': 0.0913176301393557,
     'population': 0.16312344725154934,
     'renters': 0.05323616170214413,
     'sfdu': 0.019289709818262328,
     'sum_residential_units': 0.12119963762170179},
    'T-Score': {'ave_income': 8.429999128224003,
     'ave_lot_sqft': -6.744803304852622,
     'ave_unit_sqft': 0.6548946734605473,
     'hhsize': -3.4798719463639984,
     'jobs': 4.19123426241202,
     'np.log1p(residential_sales_price)': -3.7952561008489423,
     'np.log1p(unit_sqft)': -24.518584917703407,
     'poor': 1.5194061238285619,
     'population': 2.7527723774963224,
     'renters': -7.851183650576647,
     'sfdu': -1.2911354599245621,
     'sum_residential_units': 0.15812559339722568}},
   'fitted': True,
   'log_likelihoods': {'convergence': -13122.647608616982,
    'null': -13815.51055796495,
    'ratio': 0.05015109260283668},
   'name': 2},
  3: {'fit_parameters': {'Coefficient': {'ave_income': 2.171622871156705,
     'ave_lot_sqft': -0.20737313356565892,
     'ave_unit_sqft': 0.231335627319998,
     'hhsize': -0.7947046054745576,
     'jobs': 0.10647976346781186,
     'np.log1p(residential_sales_price)': -0.0698547974588592,
     'np.log1p(unit_sqft)': -0.6325903365008342,
     'poor': 0.4559553984955807,
     'population': 0.36095118650513475,
     'renters': -0.49179078572803875,
     'sfdu': -0.0403140655426371,
     'sum_residential_units': -0.15175792992379028},
    'Std. Error': {'ave_income': 0.0909598552823242,
     'ave_lot_sqft': 0.04947999544939408,
     'ave_unit_sqft': 0.11872283890188194,
     'hhsize': 0.14807978890924947,
     'jobs': 0.031902799006345475,
     'np.log1p(residential_sales_price)': 0.025101818998330718,
     'np.log1p(unit_sqft)': 0.026326915030819135,
     'poor': 0.10014120228704465,
     'population': 0.17966473631031446,
     'renters': 0.06258723967511072,
     'sfdu': 0.019515794006409775,
     'sum_residential_units': 0.1225342306619868},
    'T-Score': {'ave_income': 23.87451985731893,
     'ave_lot_sqft': -4.191049972463131,
     'ave_unit_sqft': 1.9485351719999255,
     'hhsize': -5.366732430727541,
     'jobs': 3.337630765458323,
     'np.log1p(residential_sales_price)': -2.7828579858497333,
     'np.log1p(unit_sqft)': -24.028274325355007,
     'poor': 4.553124868509473,
     'population': 2.0090263338138032,
     'renters': -7.85768454210341,
     'sfdu': -2.06571485276983,
     'sum_residential_units': -1.2384941669272618}},
   'fitted': True,
   'log_likelihoods': {'convergence': -13229.157418338622,
    'null': -13815.51055796495,
    'ratio': 0.04244165549772483},
   'name': 3}},
 'fitted': True,
 'probability_mode': 'single_chooser',
 'choice_mode': 'aggregate',
 'remove_alts': True}

In [6]:
#获取data里面的数据
data['alts_fit_filters']

["general_type == 'Residential'"]

## 2. 需要的一些函数

##### yaml_to_class

In [35]:
from urbansim.models import RegressionModel, SegmentedRegressionModel, \
    MNLDiscreteChoiceModel, SegmentedMNLDiscreteChoiceModel, \
    GrowthRateTransition
def yaml_to_class(cfg):
    import yaml
    model_type = yaml.load(open(cfg))["model_type"]
    return {
        "regression": RegressionModel,
        "segmented_regression": SegmentedRegressionModel,
        "discretechoice": MNLDiscreteChoiceModel,
        "segmented_discretechoice": SegmentedMNLDiscreteChoiceModel
    }[model_type]
yaml_to_class('./hlcm.yaml')

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

urbansim.models.dcm.SegmentedMNLDiscreteChoiceModel

##### cfg

In [37]:
cfg = './hlcm.yaml'
cfg = yaml_to_class(cfg).from_yaml(str_or_buffer = cfg)
cfg
#这个from_yaml 是urbansim.models.dcm.SegmentedMNLDiscreteChoiceModel的from_yaml()函数

D:\ANACONDA\lib\site-packages\ipykernel_launcher.py:6: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.

##### column_list

In [16]:
import numpy as np
import pandas as pd
import toolz as tz
def column_list(tables, columns):
    """
返回tables中位于cfg使用列的列名，就是又存在于tables中，又存在与cfg中的
    """
    columns = set(columns)
    foundcols = tz.reduce(lambda x, y: x.union(y), (set(t.columns) for t in tables))
    return list(columns.intersection(foundcols))

df_households = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\households_包含需要进行区位选择的家庭.csv')

cfg_columns_used =  ['general_type',
     'residential_sales_price',
     'unit_sqft',
     'sum_residential_units',
     'ave_unit_sqft',
     'ave_lot_sqft',
     'ave_income',
     'hhsize',
     'jobs',
     'sfdu',
     'renters',
     'poor',
     'population',
     'income_quartile']
print(df_households.columns)
cfg_columns = cfg_columns_used
column_list([df_households], cfg_columns) #处于df_households，又处于cfg中的

Index(['household_id', 'building_id', 'building_type_id', 'income', 'persons',
       'tenure', 'income_quartile', 'zone_id'],
      dtype='object')

['income_quartile']

##### from_yaml()从保存的yaml配置创建分段MNLCM 模型实例

In [17]:
tables = [df_households]
cfg_columns_used =  ['general_type',
     'residential_sales_price',
     'unit_sqft',
     'sum_residential_units',
     'ave_unit_sqft',
     'ave_lot_sqft',
     'ave_income',
     'hhsize',
     'jobs',
     'sfdu',
     'renters',
     'poor',
     'population',
     'income_quartile']
additional_columns = ["building_id"]
columns = column_list(tables, cfg_columns)+additional_columns
columns  #这个就是我们需要的列名（to_frame ）

['income_quartile', 'building_id']

## 3. orca使用
用orca运行我们的数据<br>
有计算列的基础表，已经准备好的<br>
目前的目标是生成模型所需要的数据表<br>
下面主要是想获取区位选择模型中的关键表格locations_df

In [21]:
#先清除一下缓冲区
import orca
orca.orca.clear_all()

##### 读取基础表（DataFrame格式）

In [22]:
buildings = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\区位选择的基础建筑物表.csv',index_col=0)
nodes = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\区位选择的基础表zones.csv',index_col=0)
households = pd.read_csv(r'D:\git_syy\pygeo-tutorial\佘越宇练习\区位选择模型\households_包含需要进行区位选择的家庭.csv',index_col=0)
print(nodes.columns)
nodes.columns=['gid', 'tract', 'area', 'acres', 'sum_residential_units',
       'sum_job_spaces', 'population', 'jobs', 'ave_lot_sqft', 'ave_income',
       'hhsize', 'ave_unit_sqft', 'sfdu', 'poor', 'renters', 'zone_id']
# print(nodes.columns)

Index(['gid', 'tract', 'area', 'acres', 'sum_residential_units',
       'sum_job_spaces', 'population', 'jobs', 'ave_lot_sqft', 'ave_income',
       'hhsize', 'ave_unit_sqft', 'sfdu', 'poor', 'renters', 'zone_id.1'],
      dtype='object')

##### add_table

In [26]:
#把我们的基础表buildings、zones、households(DataFrame格式)添加到orca中
orca.add_table('buildings',buildings)
orca.add_table('zones',nodes)
orca.add_table('households',households)

##### 设置表格之间的关系

In [28]:
orca.broadcast('zones', 'buildings', cast_index=True, onto_on='zone_id')

##### 读取表格
get_table()

In [32]:
choosers = orca.get_table('households')
nodes = orca.get_table('zones')
buildings = orca.get_table('buildings')
type(choosers)  #可以看出获取的表的格式是orca.orca.DataFrameWrapper

orca.orca.DataFrameWrapper

##### to_frame()
将orca.orca.DataFrameWrapper生成为一个DataFrame

In [38]:
choosers.to_frame() #可以看看出

,building_id,building_type_id,income,persons,tenure,income_quartile,zone_id
household_id,,,,,,,
1,136325,1,27310,1,2,0,38.0
4,133982,2,25000,1,2,0,44.0
5,25633,1,3100,1,1,0,170.0
6,132596,2,7200,1,1,0,45.0
7,57108,1,27310,1,2,0,164.0
...,...,...,...,...,...,...,...
2630612,74346,3,690,1,1,0,148.0
2630613,78154,3,24650,1,1,0,141.0
2630614,-1,3,58000,1,1,1,NaN
2630615,137578,3,15400,1,1,0,22.0
2630617,129988,2,22000,1,1,0,11.0

##### cfg_columns_used
前面已经计算的，指的是配置文件中写的需要用到的列（主要是model_expression中的变量名）

In [41]:
cfg_columns_used

['general_type',
 'residential_sales_price',
 'unit_sqft',
 'sum_residential_units',
 'ave_unit_sqft',
 'ave_lot_sqft',
 'ave_income',
 'hhsize',
 'jobs',
 'sfdu',
 'renters',
 'poor',
 'population',
 'income_quartile']

In [42]:
#生成location_df 额外需要的列
supply_fname = "residential_units" #有计算列建筑物中的列
vacant_fname =  "vacant_residential_units" #有计算列建筑物中的列
additional_columns = [supply_fname,vacant_fname]

##### columns 
即在cfg列又在buildings列中的列+额外列

In [46]:
tables = [buildings, nodes]
columns = column_list(tables, cfg_columns)+additional_columns
columns #一共有15列（cfg和buildings列重复的有13个+额外的2列）

['ave_income',
 'ave_unit_sqft',
 'jobs',
 'unit_sqft',
 'renters',
 'population',
 'residential_sales_price',
 'general_type',
 'sfdu',
 'poor',
 'sum_residential_units',
 'ave_lot_sqft',
 'hhsize',
 'residential_units',
 'vacant_residential_units']

##### tables

In [52]:
tables  = [t for t in tables if t is not None]  #将两个df组合成一个list,就是list中嵌套两个df

In [53]:
type(tables)

list

In [54]:
len(tables)

2

In [59]:

locations_df = orca.merge_tables(target=tables[0].name,
                               tables=tables, columns=columns)
locations_df

,zone_id,zone_id_buildings,unit_sqft,residential_units,vacant_residential_units,general_type,residential_sales_price,zone_id_zones,ave_unit_sqft,ave_income,jobs,renters,population,sfdu,poor,sum_residential_units,ave_lot_sqft,hhsize
building_id,,,,,,,,,,,,,,,,,,
66515,103.0,103.0,1585.0000,3,0.0,Residential,360,103,7.153834,11.156265,6.259581,7.532624,8.556991,1.386294,6.859615,7.951559,7.293847,1.098612
65547,103.0,103.0,3314.0000,1,0.0,Residential,96,103,7.153834,11.156265,6.259581,7.532624,8.556991,1.386294,6.859615,7.951559,7.293847,1.098612
66514,103.0,103.0,1650.0000,3,-1.0,Residential,360,103,7.153834,11.156265,6.259581,7.532624,8.556991,1.386294,6.859615,7.951559,7.293847,1.098612
66655,103.0,103.0,941.5000,8,1.0,Residential,845,103,7.153834,11.156265,6.259581,7.532624,8.556991,1.386294,6.859615,7.951559,7.293847,1.098612
65727,103.0,103.0,739.6667,6,0.0,Residential,1285,103,7.153834,11.156265,6.259581,7.532624,8.556991,1.386294,6.859615,7.951559,7.293847,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1855320,14.0,14.0,170061.0000,1,1.0,Office,0,14,7.696667,10.477316,9.366831,1.098612,4.007333,0.000000,3.295837,6.131226,9.034048,0.693147
1854424,14.0,14.0,996760.0000,1,1.0,Office,0,14,7.696667,10.477316,9.366831,1.098612,4.007333,0.000000,3.295837,6.131226,9.034048,0.693147
1853798,14.0,14.0,523385.0000,1,1.0,Office,0,14,7.696667,10.477316,9.366831,1.098612,4.007333,0.000000,3.295837,6.131226,9.034048,0.693147
1855107,42.0,42.0,50672.0000,1,1.0,Industrial,0,42,7.103939,11.060384,4.962845,0.000000,0.000000,0.000000,0.000000,1.098612,12.454458,1.098612
1855108,42.0,42.0,24209.0000,1,1.0,Industrial,0,42,7.103939,11.060384,4.962845,0.000000,0.000000,0.000000,0.000000,1.098612,12.454458,1.098612

In [60]:
# def to_frame(tables, cfg, additional_columns=[]):
#     cfg = yaml_to_class(cfg).from_yaml(str_or_buffer=cfg)
#     tables = [t for t in tables if t is not None]
#     columns = misc.column_list(tables, cfg.columns_used()) + additional_columns
#     if len(tables) > 1:
#         df = orca.merge_tables(target=tables[0].name,
#                                tables=tables, columns=columns)
#     else:
#         df = tables[0].to_frame(columns)
#     df = deal_with_nas(df)
#     return df

"""
上面的操作主要都可以基于to_frame函数

"""
# locations_df = to_frame([buildings, nodes], cfg,
#                             [supply_fname, vacant_fname])
# locations_df

'\n上面的操作主要都可以基于to_frame函数\n\n'